<body style="text-align: center; margin-left: 1rem; margin-right: 1rem; background-image: url(/images/Movie_Collage.jpg)">
    <div class="container">
        <img style="width: 30rem; height: 22rem;border: .5rem solid black;" src="~/images/Robert-Downey-Jr.jpg">
        <div style="background-color:  rgba(250, 250, 250, 0.54)">
            <h1 style="text-decoration: underline">Why I enjoy Robert Downey Jr:</h1>
            <p style=" font-size: 1.3rem;">
                If you've kept up with movies today you know how Robert Downey played a monumental role as <i>Iron Man</i> in Marvel movies. The movie's release marked the start of what many thought would never happen in comic book adaptation. Superhero movies became a regular and Marvel was at the center of it. I don't only like Robert because of his superhero role but also movies like <i>Sherlock Holmes</i> and <i>Due Date</i>. Like other actors I have chose, he has had his fair share of past problems, but has done great to overcome them and serve as a role model. 
            </p>
            <h1 style="text-decoration: underline">Background:</h1>
            <p style="font-size: 1.3rem;">
                Born April 4, 1965 in Manhatten Robert was immersed in film and performing arts at a young age. He made his debut as an actor at five years old in <i>Pound</i>(1970), directed by his father. He went on to perform in multiple roles and receive the British Academy Award for Best Actor in 1992. His drug related problems escalated from 1996-2001, and after rehabilitation came out clean in 20034 to rebuild his career.
            </p>
        </div>
    </div>
</body>