<body style="text-align: center; margin-left: 1rem; margin-right: 1rem; background-image: url(/images/Movie_Collage.jpg)">
    <div class="container">
        <div style="background-color:  rgb(255 255 255)">
            <h1 style="text-decoration: underline">Why I enjoy Movies:</h1>
            <p style=" font-size: 1.3rem;">
                While I read books as a kid, I never was into books as I was TV shows and movies. I much rather preferred seeing the actors and expressions instead of imagining it. My childhood was filled with various films such as Jurassic Park, Surf's up, even Alien vs. Predator. When I got older I was heavily influenced by my brother and share very similar taste in movies with hime today. I became focused on comedy, action, and adventure movies. I especially loved fantasy and sci-fi movies such as Lord of the Rings, Marvel movies, or the Bourne series (Jason Bourne). Still to this day one of my favorite things to experience is when a new popular movie is coming out and seeing it opening night with friends or family. I think there is something special about the atmosphere of fans seeing a new movie at the theatre. I will never forget seeing Avengers Infinity War or Endgame opening night, and how excited the entire theatre was clapping their hands and expressing all the same emotions. I continue to love learning about my favorite actors, films, and behind-the-scenes content. Currently I look forward to the new Marvel film Spider-Man: No Way Home and The Kings Man this holiday. I even make movie references and quotes in my daily life to my friends. I can't wait to see where Marvel, Dune, and other hits go forward with in the future.
            </p>
        </div>
    </div>
</body>